
@import '~bootstrap/scss/bootstrap';
@import 'variables';

@import '~admin-lte/build/scss/AdminLTE.scss';

.main-sidebar  {
    height: 100vh !important ;
}

.icon svg {
    position: absolute;
    right: 15px;
    transition: all .3s linear;
}
.small-subbox {
    display: flex;
    justify-content: space-between;
    padding: 6%;
}
